body {
    margin: 0;
    background: white;
    font-family: 'Roboto', sans-serif;
}

* a {
    text-decoration: none;
    color: white;
}

.main {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header {
    display: flex;
    height: 80px;
    width: 100%;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
    position: relative;
}

.header__logo {
    margin: 0;
    color: black;
    font-family: 'Shrikhand', cursive;
}

.location {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ebebeb;
    color: black;
    width: 100%;
}

.location__city {
    margin-left: 15px;
}

.hero {
    background: #f3f3f3;
    width: 100%;
}

.hero__container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px 0;
}

.hero__title {
    text-align: center;
    max-width: 250px;
    margin: 0;
}

.hero__text {
    text-align: center;
}

.hero__button {
    background: #9356DC;
    color: white;
    padding: 0 20px;
    border-radius: 200px;  
}

.process__contain {
    padding: 25px 0;
    width: 100%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
